<div class="cards-page">
  <h2>Scopri di più</h2>
  <div class="cards-container">
    <div class="card clickable-card" tabindex="0" routerLink="/info" style="text-decoration: none; color: inherit;">
      <div class="card-icon">
        <span class="material-icons">star</span>
      </div>
      <h3>Showcase</h3>
      <p class="card-desc">showcase</p>
    </div>
    <div class="card clickable-card" tabindex="0" routerLink="/lavora-con-noi" style="text-decoration: none; color: inherit;">
      <div class="card-icon">
        <span class="material-icons">work</span>
      </div>
      <h3>Aggiornamenti</h3>
      <p class="card-desc">aggiornamenti</p>
    </div>
    <div class="card clickable-card" tabindex="0" routerLink="/forms" style="text-decoration: none; color: inherit;">
      <div class="card-icon">
        <span class="material-icons">assignment</span>
      </div>
      <h3>Compila Forms</h3>
      <p class="card-desc">forms</p>
    </div>
  </div>
</div>
